.hero-opt-two {
    background-image: linear-gradient(to bottom, var(--COLOR-MAIN-DARK), black);
    padding: 3rem 1rem 0 1rem;
    height: fit-content;
}
.hero-opt-two-headline {
    padding: 3rem 1rem 0 1rem;
    text-align: center;
    color: white;
    font-size: 4rem;
}
.hero-opt-two-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    margin-top: -2rem;
}
.hero-opt-two-text-column{
    padding: 4rem 0 0 1rem;
}
.hero-opt-two-text{
    color: white;
    max-width: 350px;
    font-size: .75rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.hero-opt-two-btn-container{
    display: flex;
    justify-content: center;
}
.hero-opt-two-btn {
    position: relative;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    overflow: hidden;
}
.hero-opt-two-btn-primary{
    color: var(--COLOR-MAIN-DARK);
    background-color: white;
    border: 1px solid var(--COLOR-MAIN-DARK);
}
.hero-opt-two-btn-secondary{
    margin-left: 1.25rem;
    border: 1px solid white;
}
.hero-opt-two-btn-border-dark,
.hero-opt-two-btn-border-light {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: var(--COLOR-MAIN-DARK);
    stroke-width: 2;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: stroke-dashoffset 0.5s ease;
}
.hero-opt-two-btn-border-light {
    stroke: white;
}
.hero-opt-two-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.hero-opt-two-btn:hover .hero-opt-two-btn-border-dark,
.hero-opt-two-btn:hover .hero-opt-two-btn-border-light {
    stroke-dashoffset: 0;
}
.hero-opt-two-image-column{
    display: flex;
    justify-content: center;
    position: relative;
}
.hero-opt-two-image{
    width: 90%;
    height: auto;
    z-index: 2;
}
#steam1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    z-index: 3;
}
#anima1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#anima1 span {
    position: absolute;
    top: 50px;
    min-width: 8px;
    height: 120px;
    background: rgb(177, 177, 177);
    border-radius: 50%;
    opacity: 0;
    filter: blur(8px);
    animation: animate 3s linear infinite;
    animation-delay: calc(var(--i) * 0.5s);
}
@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 0.2;
    }
    50% {
        transform: translateY(-75px) scaleX(5);
        opacity: 0.15;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-150px) scaleX(8);
    }
}
/*/////////////////// FEATURES AND BENEFITS ///////////////////////////////////*/
.main-features-and-benefits-section{
    padding: 0 1rem;
}
.features-grid-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "featuresImage featuresImage"
    "featuresText featuresText"
    "featuresCard featuresHookah"
    "benefitsHeadline benefitsHeadline"
    "benefitsTextOne benefitsTextTwo"
    " . benefitsBottom"
    ;
    gap: 1rem;
}
.features-grid-image-container{
    grid-area: featuresImage;
    grid-column: span 2;
    display: flex;
}
.features-grid-image{
   width: 100%;
   max-width: 500px;
   height: auto;
   margin: 0 auto;
   margin-bottom: 1.5rem;
}
.features-grid-features-text-container{
  grid-area: featuresText;
  grid-column: span 2;
}
.features-grid-features-headline{
    color: var(--COLOR-MAIN-DARK);
    margin-bottom: 1.25rem;
    font-size: 1.72rem;
}
.features-grid-features-text{
    color: var(--COLOR-NEUTRAL);
    font-size: .75rem;
    margin-bottom: 3rem;
}
.features-grid-card-container{
    grid-area: featuresCard;
    background-color: var(--COLOR-MAIN-DARK);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    position:relative;
}
.features-grid-card{
    display: flex;
    justify-content: space-between;
    flex: 1; 
}
.features-grid-top-card{
    margin-bottom: 2rem;
    border-bottom: 2px solid white;
}
.features-card-image{
    width: 90%;
    height: auto;
    padding-left: 1rem;
}
.features-card-headline-container{
    display: flex;
    align-items: flex-start;
    width: 5.5rem;
    position: relative;
   
}
.features-card-headline{
    color: white;
   transform: rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    position: absolute;
    top: -36px;
    left: -5px;
}
.features-card-text{
    color: white;
    font-size: .75rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.features-grid-hookah-container{
    grid-area: featuresHookah;
    background-image: url(../images/large-hookah.webp);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;
}
.features-grid-benefits-headline-container{
    grid-area: benefitsHeadline;
    grid-column: span 2;
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
}
.features-grid-benefits-headline{
    margin-bottom: 0;
    font-size: 5rem;
    line-height: .9;
    letter-spacing: -2px;
    color: var(--COLOR-MAIN-DARK);
    display: flex;
    flex-direction: column;
}
.features-grid-benefits-headline-bottom{
    align-self: flex-end;
}
.features-grid-benefits-text-container-left{
    grid-area: benefitsTextOne;
 
}
.features-grid-benefits-text-container-right{
   grid-area: benefitsTextTwo;
}
.features-grid-benefits-text{
    font-size: .75rem;
    margin-top: 3rem;
    color: var(--COLOR-NEUTRAL);
}
.features-grid-bottom-text-container{
    grid-area: benefitsBottom;
    
    display: flex;
}
.features-grid-bottom-text{
    color: var(--COLOR-MAIN-DARK);
    font-size: 2rem;
    align-self: flex-end;
    margin-bottom: 0;
}

@media (min-width: 650px){
    .hero-opt-two-headline {
        padding: 4rem 1rem 0 1rem;
        font-size: 5rem;
    }
    .hero-opt-two-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 1;
    }
    .hero-opt-two-btn-container{
        justify-content: left;
    }
}
@media (min-width: 768px) {
    .hero-opt-two-headline {
        padding: 7rem 1rem 0 1rem;
        font-size: 6rem;
    }
    .hero-opt-two-text-column{
        padding: 6rem 0 0 3rem;
    }
    .hero-opt-two-text{
        margin-left: 0;
    }
    .hero-opt-two-image-column{
        display: flex;
        justify-content: left;
    }
    .features-grid-container{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) 
                            minmax(50px, auto) minmax(50px, auto)  minmax(1rem, auto) 
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
        column-gap: 20px;
        row-gap: 0;
        max-width: 1200px;
        margin: 4rem auto;
    }
    .features-grid-image-container{
        grid-column: 1 / span 5;
        grid-row: 1 / span 3;
        position: relative;
    }
    .features-grid-image{
        position: absolute;
        right: 0;
        max-width: none;
        width: 110%;
        height: auto;
        align-self: right;
    }
    .features-grid-features-text-container{
        grid-column: 7 / span 4;
        grid-row: 1 / span 3;
    }
    .features-grid-features-headline{
        margin-bottom: 2rem;
    }
    .features-grid-card-container{
        grid-column: 9 / span 2;
        grid-row: 4 / span 5;
        margin-bottom: 0;
    }
    .features-grid-hookah-container{
        grid-column: 5 / span 5;
        grid-row: 4 / span 7;
        background-position: center;
    }
    .features-grid-benefits-headline-container{
        grid-column: 1 / span 5;
        grid-row: 5 / span 2;
        height: 100%;
        max-width: none;
        margin: 0;
    }
    .features-grid-benefits-text-container-left{
        grid-column: 1 / span 2;
        grid-row: 7 / span 3;
    }
    .features-grid-benefits-text-container-right{
        grid-column: 4 / span 2;
        grid-row: 7 / span 3;
    }
    .features-grid-bottom-text-container{
        grid-column: 4 / span 3;
        grid-row: 10 / span 1;
        display: flex;
    }
}
@media (min-width: 850px) {
    .features-grid-image-container{
        grid-row: 1 / span 5;
    }
    .features-grid-benefits-headline-container{
        grid-row: 6 / span 2;
    }
    .features-grid-benefits-text-container-left,
    .features-grid-benefits-text-container-right{
        grid-row: 8 / span 3;
    }
    .features-grid-features-text{
        padding-bottom: 1rem;
    }
}
@media (min-width: 1000px){
    .hero-opt-two-text-column{
        padding: 6rem 0 0 4.5rem;
    }
    #anima1 span {
        position: absolute;
        top: 50px;
        left: 250px;
    }
    .features-grid-container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(75px, auto) 
                            minmax(50px, auto) minmax(100px, auto) 1rem
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    }
    .features-grid-benefits-headline{
        font-size: 7rem;
   }
}
@media (min-width: 1107px){
    .hero-opt-two-text-column{
        padding: 10rem 0 0 4.5rem;
    }
    .features-grid-benefits-headline{
         font-size: 8rem;
    }
    .features-grid-features-text{
        font-size: 1rem;
    }
    .features-grid-image{
        width: 120%;
    }
    .features-grid-image-container{
        grid-row: 1 / span 5;
    }
    .features-grid-container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) 
                            minmax(100px, auto) minmax(100px, auto) 4rem
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    }
    .features-grid-benefits-headline-container{
        grid-row: 7 / span 2;
    }
    .features-grid-benefits-text-container-left,
    .features-grid-benefits-text-container-right{
        grid-row: 9 / span 3;
    }
    .features-grid-benefits-text{
        font-size: 1rem;
    }
    .features-grid-bottom-text-container{
        grid-row: 12 / span 1;
    }
    .features-grid-bottom-text{
        font-size: 2.75rem;
    }
    .features-grid-hookah-container{
        grid-row: 4 / span 9;
    }
}