
.hero-opt-two {
    background-image: linear-gradient(to bottom, var(--COLOR-MAIN-DARK), black);
    padding: 3rem 1rem 0 1rem;
    height: fit-content;
}
.hero-opt-two-headline {
    padding: 3rem 1rem 0 1rem;
    text-align: center;
    color: white;
    font-size: 4rem;
}
.hero-opt-two-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    margin-top: -2rem;
}
.hero-opt-two-text-column{
    padding: 4rem 0 0 1rem;
}
.hero-opt-two-text{
    color: white;
    max-width: 350px;
    font-size: .75rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.hero-opt-two-btn-container{
    display: flex;
    justify-content: center;
}
.hero-opt-two-btn {
    position: relative;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    overflow: hidden;
}
.hero-opt-two-btn-primary{
    color: var(--COLOR-MAIN-DARK);
    background-color: white;
    border: 1px solid var(--COLOR-MAIN-DARK);
}
.hero-opt-two-btn-secondary{
    margin-left: 1.25rem;
    border: 1px solid white;
}
.hero-opt-two-btn-border-dark,
.hero-opt-two-btn-border-light {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
    stroke: var(--COLOR-MAIN-DARK);
    stroke-width: 2;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: stroke-dashoffset 0.5s ease;
}
.hero-opt-two-btn-border-light {
    stroke: white;
}
.hero-opt-two-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.hero-opt-two-btn:hover .hero-opt-two-btn-border-dark,
.hero-opt-two-btn:hover .hero-opt-two-btn-border-light {
    stroke-dashoffset: 0;
}
.hero-opt-two-image-column{
    display: flex;
    justify-content: center;
    position: relative;
}
.hero-opt-two-image{
    width: 90%;
    height: auto;
    z-index: 2;
}
#steam1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    z-index: 3;
}
#anima1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#anima1 span {
    position: absolute;
    top: 50px;
    min-width: 8px;
    height: 120px;
    background: rgb(177, 177, 177);
    border-radius: 50%;
    opacity: 0;
    filter: blur(8px);
    animation: steamAnimation 3s linear infinite;
    animation-delay: calc(var(--i) * 0.5s);
}

/*/////////////////// FEATURES AND BENEFITS ///////////////////////////////////*/
.main-features-and-benefits-section{
    padding: 0 1rem;
    background-color: white;
}
.features-grid-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "featuresText featuresText"
    "featuresImage featuresImage"
    "featuresCard featuresHookah"
    "benefitsHeadline benefitsHeadline"
    "benefitsTextOne benefitsTextTwo"
    " . benefitsBottom"
    ;
    gap: 1rem;
}
.features-grid-image-container{
    grid-area: featuresImage;
    grid-column: span 2;
    display: flex;
}
.features-grid-image{
   width: 100%;
   max-width: 500px;
   height: auto;
   margin: 0 auto;
   margin-bottom: 1.5rem;
   box-shadow: 2px 2px 10px black;
}
.features-grid-features-text-container{
  grid-area: featuresText;
  grid-column: span 2;
}
.features-grid-features-headline{
    color: var(--COLOR-MAIN-DARK);
    margin-bottom: 1.25rem;
    font-size: 1.72rem;
}
.features-grid-features-text{
    color: var(--COLOR-NEUTRAL);
    font-size: .75rem;
    margin-bottom: 1rem;
}
.features-grid-card-container{
    grid-area: featuresCard;
    background-color: var(--COLOR-MAIN-DARK);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    position:relative;
    box-shadow: 2px 2px 2px black;
}
.features-grid-card{
    display: flex;
    justify-content: space-between;
    flex: 1; 
}
.features-grid-top-card{
    margin-bottom: 2rem;
    border-bottom: 2px solid white;
}
.features-card-image{
    width: 90%;
    height: auto;
    padding-left: 1rem;
}
.features-card-headline-container{
    display: flex;
    align-items: flex-start;
    width: 5.5rem;
    position: relative;
   
}
.features-card-headline{
    color: white;
   transform: rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    position: absolute;
    top: -36px;
    left: -5px;
}
.features-card-text{
    color: white;
    font-size: .75rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.features-grid-hookah-container{
    grid-area: featuresHookah;
    background-image: url(../images/large-hookah.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
.features-grid-benefits-headline-container{
    grid-area: benefitsHeadline;
    grid-column: span 2;
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
}
.features-grid-benefits-headline{
    margin-bottom: 0;
    font-size: 5rem;
    line-height: .9;
    letter-spacing: -2px;
    color: var(--COLOR-MAIN-DARK);
    display: flex;
    flex-direction: column;
    transform: translateX(-600px);
    opacity: 0;
}
.features-grid-benefits-headline-bottom{
    align-self: flex-end;
}
.features-grid-benefits-headline.animate{
    animation: textInLeft .5s ease;
    animation-fill-mode: forwards;
}
.features-grid-benefits-text-container-left{
    grid-area: benefitsTextOne;
 
}
.features-grid-benefits-text-container-right{
   grid-area: benefitsTextTwo;
}
.features-grid-benefits-text{
    font-size: .75rem;
    margin-top: 3rem;
    color: var(--COLOR-NEUTRAL);
}
.features-grid-bottom-text-container{
    grid-area: benefitsBottom;
    
    display: flex;
}
.features-grid-bottom-text{
    color: var(--COLOR-MAIN-DARK);
    font-size: 2rem;
    align-self: flex-end;
    margin-bottom: 0;
}
.features-grid-bottom-text.animate{
    animation: bounceScale 0.4s ease-out;
    animation-fill-mode: forwards;
}
/*/////////////////// FOOD & DRINK ///////////////////////////////////*/
.eat-and-drink-section{
    position: relative;
    overflow: hidden;
}  
.eat-section-silverware{
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(35deg);
    z-index: -1;
    opacity: 0;
}
.eat-and-drink-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "eatDrinkImage"
    "eatDrinkEatHeadline"
    "eatDrinkEatText"
    "eatDrinkDrinkImage"
    "eatDrinkDrinkText"
    ;
    padding: .5rem;
    gap: 1rem;
}
.eat-section-main-image-container{
    grid-area: eatDrinkImage;
    display: flex;
    justify-content: center;

}
.eat-section-main-image{
    width: 90%;
    max-width: 450px;
    height: auto;
}
.eat-section-headline-container{
    grid-area: eatDrinkEatHeadline;
}
.eat-section-headline{
    color: var(--COLOR-MAIN-DARK);
    font-size: 3.5rem;
    transform: translateX(600px);
    opacity: 0;
}
.eat-section-headline.animate{
    animation: textInRight .5s ease;
    animation-fill-mode: forwards;
}
.eat-section-text-container{
    grid-area: eatDrinkEatText;
    margin-bottom: 2rem;
}
.eat-section-text,
.eat-section-text-continued{
    font-size: .75rem;
}
.eat-section-text-container a{
    color: var(--COLOR-MAIN);
}
.drink-section-image-container{
    grid-area: eatDrinkDrinkImage;
    display: flex;
}
.drink-section-image{
    width: 300px;
    height: auto;
    margin: 0 auto;
    box-shadow: 4px 4px 10px black;
    position: relative;
}
.drink-section-content-container{
    grid-area: eatDrinkDrinkText;
}
.drink-section-headline{
    color: var(--COLOR-MAIN-DARK);
}
.drink-section-headline.animate{
    animation: bounceScale 0.4s ease-out;
    animation-fill-mode: forwards;
}
.drink-section-content-container p{
    font-size: .75rem;
}
.drink-section-content-container a{
    color: var(--COLOR-MAIN);
}
/*/////////////////// ENTERTAINMENT ///////////////////////////////////*/
.entertainment-preceeding-text{
    color: var(--COLOR-MAIN-DARK);
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem; 
    position: relative;  
}
.entertainment-preceeding-text::before {
    content: "AND"; 
    position: absolute;
    top: -15px;
    font-size: 1.5rem; 
    color: var(--COLOR-HIGHLIGHT); 
    transform: translateX(-20px) rotate(-20deg);
}
.entertainment-preceeding-text span{
    font-size: 2.5rem;  
}
.entertainment-section{
    background-image: linear-gradient(to bottom, transparent 12px, var(--COLOR-MAIN-DARK) 12px);
    padding: 0;
    height: 5rem;
}
.entertainment-section-bottom{
    background-image: linear-gradient(to bottom, var(--COLOR-MAIN-DARK), black);
    padding-bottom: 4rem;
    overflow-x: hidden;
}
.entertainment-headline{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: -2.2rem;
    padding: 0;
}
.comedy-section,
.music-section{
    display: flex;
    flex-direction: column;
    padding: 0  1rem;
    justify-content: space-between;
}
.music-section{
    margin-top: 3rem;
}
.comedy-section-image-container,
.music-section-image-container{
    flex: 1;
}
.comedy-section-image,
.music-section-image{
    width: 100%;
    height: auto;
    border: 1rem solid white;
    box-shadow: 2px 2px 5px black;
}
.comedy-section-image{
    transform: translateX(-600px);
    opacity: 0;
}
.comedy-section-image.animate{
    animation: textInLeft .5s ease;
    animation-fill-mode: forwards;
}
.music-section-image{
    transform: translateX(600px);
    opacity: 0;
}
.music-section-image.animate{
    animation: textInRight .5s ease;
    animation-fill-mode: forwards;
}
.comedy-section-content,
.music-section-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 18%;
}
.music-section-content{
    padding-right: 1rem;
    padding-left: 10rem;
}
.music-section-content a,
.comedy-section-content a{
    color: var(--COLOR-HIGHLIGHT);
}
.comedy-section-headline,
.music-section-headline{
    font-size: 3rem;
}
.comedy-section-text,
.music-section-text{
    font-size: .75rem;
    max-width: 300px;
}
.giant-speaker{
    position: absolute;
    left: -13rem;
    bottom: 0;
    width: 300px;
    height: auto;
    animation: pulseAndRotate 10s infinite ease-in-out;
    animation-delay: 1s;
}
.giant-microphone{
    position: absolute;
    top: 10%;
    left: 70%;
    animation: pulseAndRotate 10s infinite ease-in-out;
}
/*//////////////////////////////////////////EVENTS///////////////////////////////////////////////*/
.events-intro-headline{
    text-align: center;
    color: var(--COLOR-MAIN-DARK);
    padding: 3rem 1rem;
    font-size: 3rem;
}
.events-intro-headline span{
    border-bottom: 4px solid var(--COLOR-HIGHLIGHT);
}
.events-one-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
}
.events-one-column{
    display: flex;
    flex-direction: column;
}
.events-one-right-column{
    flex-direction: column-reverse;
}
.events-one-headline{
    color: var(--COLOR-NEUTRAL);
    margin-bottom: 3rem;
    font-size: 2rem;
}
.events-one-learn-more{
    align-self: flex-start;
    padding: .25rem 1rem;
    margin-bottom: 1.4rem;
    text-decoration: none;
    color: var(--COLOR-MAIN-DARK);
    border: 1px solid black;
    border-radius: 5px;
}
.events-one-event-card{
    border: 1px solid black;
    align-self: bottom;
    margin: 1rem 0;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px black;
}
.events-one-event-card-image{
    position: relative;
    overflow: hidden;
}
.events-one-event-card-img-placeholder {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.events-one-event-card-date-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--COLOR-SECONDARY-BRIGHT);
    color: var(--COLOR-NEUTRAL);
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: .5rem;
}
.events-one-event-card-label,
.events-one-event-card-headline,
.events-one-event-card-text,
.events-one-event-card-link{
    padding: 1rem;
}
.events-one-event-card-label{
    display: inline-block;
    margin: .5rem 0 0 1rem;
    padding: .25rem .5rem;
    background-color: var(--COLOR-SECONDARY-BRIGHT);
    border: 1px solid black;
    border-radius: 20px;
}
.events-one-event-card-link{
    color: var(--COLOR-MAIN);
}
/*//////////////////////////////////////////ANIMATIONS///////////////////////////////////////////////*/
@keyframes pulseAndRotate{
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.02) rotate(1deg);
    }
    50% {
        transform: scale(1) rotate(0deg);
    }
    75% {
        transform: scale(0.98) rotate(-1deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
@keyframes textInRight{
    to {
        transform: translateX(0);
        opacity: 1;
       }
}
@keyframes bounceScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes textInLeft{
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes steamAnimation {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 0.2;
    }
    50% {
        transform: translateY(-75px) scaleX(5);
        opacity: 0.15;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-150px) scaleX(8);
    }
}
/*//////////////////////////////////////////RESPONSIVENESS///////////////////////////////////////////////*/
@media (min-width: 650px){
    .hero-opt-two-headline {
        padding: 4rem 1rem 0 1rem;
        font-size: 5rem;
    }
    .hero-opt-two-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 1;
    }
    .hero-opt-two-btn-container{
        justify-content: left;
    }
}
@media (min-width: 768px) {
    .hero-opt-two-headline {
        padding: 7rem 1rem 0 1rem;
        font-size: 6rem;
    }
    .hero-opt-two-text-column{
        padding: 6rem 0 0 3rem;
    }
    .hero-opt-two-text{
        margin-left: 0;
    }
    .hero-opt-two-image-column{
        display: flex;
        justify-content: left;
    }
    .features-grid-container{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) 
                            minmax(50px, auto) minmax(50px, auto)  minmax(1rem, auto) 
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
        column-gap: 20px;
        row-gap: 0;
        max-width: 1200px;
        margin: 4rem auto;
    }
    .features-grid-image-container{
        grid-column: 1 / span 5;
        grid-row: 1 / span 3;
        position: relative;
    }
    .features-grid-image{
        position: absolute;
        right: 0;
        max-width: none;
        width: 110%;
        height: auto;
        align-self: right;
    }
    .features-grid-features-text-container{
        grid-column: 7 / span 4;
        grid-row: 1 / span 3;
    }
    .features-grid-features-headline{
        margin-bottom: 2rem;
    }
    .features-grid-card-container{
        grid-column: 9 / span 2;
        grid-row: 4 / span 5;
        margin-bottom: 0;
    }
    .features-grid-hookah-container{
        grid-column: 5 / span 5;
        grid-row: 4 / span 7;
        background-size: contain;
        background-position: center;
    }
    .features-grid-benefits-headline-container{
        grid-column: 1 / span 5;
        grid-row: 5 / span 2;
        height: 100%;
        max-width: none;
        margin: 0;
    }
    .features-grid-benefits-text-container-left{
        grid-column: 1 / span 2;
        grid-row: 7 / span 3;
    }
    .features-grid-benefits-text-container-right{
        grid-column: 4 / span 2;
        grid-row: 7 / span 3;
    }
    .features-grid-bottom-text-container{
        grid-column: 4 / span 3;
        grid-row: 10 / span 1;
        display: flex;
    }
    .eat-and-drink-grid-container{
        display: grid;
        grid-template-columns: repeat(10, minmax(50px, auto));
        grid-template-rows: repeat(7, 1fr);               
        gap: 20px;
        max-width: 1200px;
        margin: 2rem auto 0 auto;
        padding: 1rem;
    }
    .eat-section-main-image-container{
        grid-column: 1 / span 4;
        grid-row: 1 / span 4;
        overflow: hidden;
    }
    .eat-section-main-image{
        max-width: none;
        width: auto;
    }
    .eat-section-headline-container{
        grid-column: 5 / span 6;
        grid-row: 1 / span 1; 
    }
    .eat-section-headline{
        font-size: 4rem;
        letter-spacing: -1%;
        margin: 0;
    }
    .eat-section-text-container{
        grid-column: 5 / span 6;
        grid-row: 2 / span 3;
        background-image: url(../images/panini.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        margin-bottom: 0;
        
    }
    .eat-section-text-container a{
        color: var(--COLOR-MAIN);
    }
    .eat-section-text{
        max-width: 80%;
        font-size: .75rem;
    }
    .eat-section-text-continued{
        max-width: 250px;
        font-size: .75rem;
    }
    .drink-section-content-container{
        grid-column: 1 / span 3;
        grid-row: 6 / span 4;
    }
    .drink-section-content-container p{
        font-size: .75rem;
    }
    .drink-section-image-container{
        grid-column: 5 / span 4;
        grid-row: 6 / span 4;
        display: block;
    }
    .drink-section-image{
        width: 100%;
        height: auto;
        max-width: none;
    }
    .entertainment-preceeding-text{
        font-size: 4.25rem;
        margin-top: 0;
    }
    .entertainment-preceeding-text span{
        font-size: 5.7rem;  
    }
    .entertainment-section{
        background-image: linear-gradient(to bottom, transparent 28px, var(--COLOR-MAIN-DARK) 28px);
        height: 7rem;
    }
    .entertainment-headline{
        font-size: 5rem;
        margin-top: -5rem;
    }
    .comedy-section,
    .music-section{
        flex-direction: row;
    }
    .comedy-section-content{
        padding: 0 2rem 0 4rem;
    }
    .music-section-content{
        padding-left: 10rem;
    }
    .entertainment-preceeding-text::before {
        top: 5px; 
        font-size: 2rem; 
    }
    .events-one-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        align-items: end;
    }
    .events-one-right-column{
        flex-direction: column;
    }
    .events-one-learn-more{
        align-self: flex-end;
    }
    .events-intro-headline{
        font-size: 3.5rem;
    }
}
@media (min-width: 850px) {
    .features-grid-image-container{
        grid-row: 1 / span 5;
    }
    .features-grid-benefits-headline-container{
        grid-row: 6 / span 2;
    }
    .features-grid-benefits-text-container-left,
    .features-grid-benefits-text-container-right{
        grid-row: 8 / span 3;
    }
    .features-grid-features-text{
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
    .eat-and-drink-grid-container{
        grid-template-rows: repeat(8, 1fr); 
     }
    .eat-section-main-image-container{
        margin-right: 2rem;
    }
    .entertainment-preceeding-text{
        font-size: 4rem;
        position: relative;
    }
    .entertainment-preceeding-text::before {
        top: 15px;  
    }
    .entertainment-preceeding-text span{
        font-size: 5.7rem;  
    }
    .entertainment-section{
        background-image: linear-gradient(to bottom, transparent 30px, var(--COLOR-MAIN-DARK) 30px);
        height: 7.5rem;
    }
    .entertainment-headline{
        font-size: 5.7rem;
        margin-top: -5rem;
    }
    .events-intro-headline{
        font-size: 4rem;
    }
}
@media (min-width: 1000px){
    .hero-opt-two-text-column{
        padding: 6rem 0 0 4.5rem;
    }
    #anima1 span {
        position: absolute;
        top: 50px;
        left: 250px;
    }
    .features-grid-container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(75px, auto) 
                            minmax(50px, auto) minmax(100px, auto) 1rem
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    }
    .features-grid-benefits-headline{
        font-size: 7rem;
   }
   .eat-section-main-image-container{
    margin-right: 0;
    }
    .eat-section-main-image-container{
        grid-column: 1 / span 3;
    }
    .eat-section-silverware{
        opacity: 1;
        transform: rotate(5deg);
    }
    .eat-section-headline{
        font-size: 5.75rem;
    }
    .eat-section-text{
        font-size: 1rem;
    }
    .eat-section-text-continued{
        font-size: 1rem;
    }
    .drink-section-content-container p{
        font-size: 1rem;
    }
    .drink-section-content-container a{
        color: var(--COLOR-MAIN);
    }
    .drink-section-headline{
        font-size: 2.5rem;
    }
    .entertainment-preceeding-text{
        font-size: 6rem;
        margin-top: 2rem;
    }
    .entertainment-preceeding-text span{
        font-size: 9rem;  
    }
    .entertainment-section{
        background-image: linear-gradient(to bottom, transparent 35px, var(--COLOR-MAIN-DARK) 35px);
        height: 8rem;
    }
    .entertainment-headline{
        font-size: 6.9rem;
        margin-top: -7.1rem;
    }
    .comedy-section-content{
        padding: 0 0 0 4rem;
    }
    .entertainment-preceeding-text::before {
        top: 35px;  
    }
    .events-intro-headline{
        font-size: 4.5rem;
    }
}
@media (min-width: 1107px){
    .hero-opt-two-text-column{
        padding: 10rem 0 0 4.5rem;
    }
    .features-grid-benefits-headline{
         font-size: 8rem;
    }
    .features-grid-features-text{
        font-size: 1rem;
    }
    .features-grid-image{
        width: 120%;
    }
    .features-grid-image-container{
        grid-row: 1 / span 5;
    }
    .features-grid-container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) 
                            minmax(100px, auto) minmax(100px, auto) 4rem
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
                            minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    }
    .features-grid-benefits-headline-container{
        grid-row: 7 / span 2;
    }
    .features-grid-benefits-text-container-left,
    .features-grid-benefits-text-container-right{
        grid-row: 9 / span 3;
    }
    .features-grid-benefits-text{
        font-size: 1rem;
    }
    .features-grid-bottom-text-container{
        grid-row: 12 / span 1;
    }
    .features-grid-bottom-text{
        font-size: 2.75rem;
    }
    .features-grid-hookah-container{
        grid-row: 4 / span 9;
    }
    .eat-section-main-image-container{
        grid-column: 2 / span 2;
    }
    .eat-section-silverware{
        transform: rotate(35deg);
        left: -5rem;
    }
    .eat-section-headline{
        font-size: 6.5rem;
    }
    .drink-section-headline{
        font-size: 2.75rem;
    }
    .entertainment-preceeding-text{
        font-size: 6rem;
    }
    .entertainment-preceeding-text span{
        font-size: 9rem;  
    }
    .entertainment-section{
        background-image: linear-gradient(to bottom, transparent 41px, var(--COLOR-MAIN-DARK) 41px);
        height: 10rem;
    }
    .entertainment-headline{
        font-size: 7.6rem;
        margin-top: -7.4rem;
    }
    .comedy-section-content{
        padding: 0 0 0 9rem;
    }
}
@media (min-width: 1200px){
    .eat-section-headline{
        font-size: 7rem;
    }
    .drink-section-headline{
        font-size: 3rem;
    }
    .entertainment-preceeding-text{
        font-size: 6rem;
        margin-top: 4rem;
    }
    .entertainment-preceeding-text span{
        font-size: 9rem;  
    }
    .entertainment-section{
        background-image: linear-gradient(to bottom, transparent 46px, var(--COLOR-MAIN-DARK) 46px);
        height: 12rem;
    }
    .entertainment-headline{
        font-size: 8.5rem;
        margin-top: -7.6rem;
    }
    .comedy-section-content{
        padding: 0 0 0 10rem;
    }
}