/*/////////////////////////// NORMALIZE /////////////////////////////////////////*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%;
  line-height: 1.15; 
}
button,
input { 
  overflow: visible;
}
button,
select { 
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%; 
  white-space: normal; 
}
progress {
  vertical-align: baseline;
} 
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; 
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/*/////////////////////////// BASE STYLES /////////////////////////////////////////*/
:root {
    --COLOR-MAIN: #31538c;
    --COLOR-MAIN-BRIGHT: #a5c3e8;
    --COLOR-MAIN-DARK: #1e2b44;
    --COLOR-SECONDARY-BRIGHT: #f5f1e9;
    --COLOR-SECONDARY-DARK: #a4b78d;
    --COLOR-HIGHLIGHT: #f9b04e;
    --COLOR-NEUTRAL: #3c3c3c;
  }
html {
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.1;
    margin-bottom: 0.5em;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.78rem;
    line-height: 1.25;
    margin-bottom: 0.5em;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1.72rem;
    line-height: 1.3;
    margin-bottom: 0.5em;
}
p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
}
.width-limiter{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
/*//////////////////////////// HEADER STYLES ////////////////////////////*/ 
.main-nav {
    position: relative;
  }
  .mobile-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
  }
  .top-bar-logo {
    font-size: 1.5rem;
  }
  .burger {
    height: 40px;
    width: 40px;
    position: relative;
    margin: 0 10px 0 auto;
    border: 5px solid transparent;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
  }
  .burger-bar {
    height: 3px;
    width: 20px;
    display: block;
    margin: 5px auto;
    position: relative;
    background-color: #333;
    border-radius: 10px;
    transition: transform 0.4s, opacity 0.4s;
  }
  .burger :first-child {
    margin-top: 0;
  }
  .burger.active .burger-bar:nth-of-type(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .burger-bar:nth-of-type(2) {
    opacity: 0;
  }
  .burger.active .burger-bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .circle-bg {
    position: fixed;
    top: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: 7;
  }
  .main-nav.active .circle-bg {
    transform: scale(50);
  }
  .site-menu,
  .menu-submenu {
      display: none;
      opacity: 0;
      transition: opacity 0.4s ease-in-out 0.1s;
      position: fixed;
      top: 60px;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2rem 1rem;
      background: #333;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 8;
      margin: 0;
      overflow-y: auto;
  }
  .menu-submenu.slow-close {
    transition: opacity 0.4s ease-in-out 0.1s;
  }
  .site-menu.visible,
  .menu-submenu.visible {
    display: flex;
  }
  .site-menu.active,
  .menu-submenu.active {
    opacity: 1;
  }
  .site-menu li,
  .menu-submenu li {
      margin: 0;
      width: 100%;
      border: 2px solid black;
      border-radius: 10px;
      overflow: hidden;
      background-color: white;
      /*background-image: url('../images/menu-button-test-background.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; */
      min-height: 80px;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: auto;
  }
  .site-menu li + li,
  .menu-submenu li + li {
      margin-top: 1rem;
  }
  .site-menu a,
  .menu-submenu a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #333;
      font-size: 1rem;
  }
  .site-menu a span,
  .menu-submenu a span {
    padding: 0.5rem 1rem;
  }
  body.menu-open {
    overflow: hidden;
  }
  /*//////////////////////////////Footer styles////////////////////////////////*/
  .site-footer {
    background-color: #2a2a2a;
    color: #fff;
    position: relative;
    bottom: 0;
    padding-top: .25rem;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer-hours,
  .footer-nav,
  .footer-social,
  .footer-contact{
    flex: 1 1 200px;
    min-width: 200px;
    text-align: center;
    margin: 5px;
  }
  .footer-container h3{
    background-color: white;
    color: #333;
    padding: .5rem;
  }
  .footer-nav ul,
  .footer-hours p,
  .footer-social p,
  .footer-contact p{
    padding: .5rem;
  }
  .footer-nav li{
    text-decoration: none;
    list-style: none;
  }
  
  @media (min-width: 768px) {
    h1 {
        font-size: 2.78rem;
    }
    h2 {
        font-size: 1.72rem;
    }
    h3 {
        font-size: 1.06rem;
    }
    .width-limiter{
        padding: 0 0.5rem;
    }
    /*/////// HEADER STYLES /////////*/
    .main-nav{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .mobile-top-bar,
    .circle-bg,
    .menu-submenu {
      display: none;
    }
    .site-menu {
      display: flex;
      opacity: 1;
      position: static;
      width: auto;
      padding: 0;
      background: transparent;
      flex-direction: row;
      justify-content: flex-end;
  }
  .site-menu li {
      width: auto;
      background-image: none;
      height: auto;
      min-height: 0;
      line-height: 1;
      border-color: var(--COLOR-MAIN-DARK);
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
  }
  .site-menu li + li{
      margin-top: 0rem;
      margin-left: 1em;
  }
  .site-menu a{
      font-size: 1rem;
      color: var(--COLOR-MAIN-DARK);
  }
  }
